*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

body{
    font-size:12px;
    color:black;
}

.header{
    width: 100%;
    position: absolute;
}

.header{
    padding-top:20px;
    padding-bottom:20px;
}

.header-container{
    display:flex;
    justify-content:space-between;
    max-width:100%;
    margin:0px 36px;
    position: relative;
}


.header-logo{
    align-self:center;
}

.header-logo-pc{
    display: block;
    height:20px;
    width:auto;
}

.header-logo-sp{
    display:none;
    height:16px;
    width:auto;
}

.header-strage{
    display:none;
}

.header-list{
    display:flex;
    justify-content:space-between;
    list-style:none;
    align-items:center;
}

.li-items{
    margin-right:45px;
}

.li-items:last-of-type {
    margin-right: 0;
}

.li-link{
   display:block;    
}

a{
    color:black;
    text-decoration: none;
}

.li-link>span{
   display:block;  
   text-align:center;
   font-weight:bold
}

.li-link>span:first-child{
    font-family:Lato,sans-serif;
}

.li-link>span:last-child{
   font-size:10px;
}

.li-link-button{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:orange;
    height:40px;
    width: 150px;
    color:white;
    border-radius: 30px;
    text-align: center;
    font-size:12px;
}

.FV{
    background-image:url(//camp.potepan.com/wp-content/themes/potepancamp/assets/styles/../images/home/first-view/top-hero.jpg);
    background-size:cover;
    background-position:center;
    padding-top:100px;
    padding-bottom:28px;
}

.FV-background-img.FV-img-sp{
    display:none;
}

.FV-background-img{
    width: 100%;
}

.FV-container{
    max-width:1140px;
    position: relative;
    padding-left:50px;
    padding-right:50px;
    margin-left:auto;
    margin-right:auto;
}

.FV-content{
    margin-bottom:70px;
    width:fit-content;
}

.FV-content h2{
    text-align: center;
    font-size:38px;
    font-weight: 700;
    line-height:54px;
    margin-bottom:15px;
}

.FV-img{
    margin-bottom:25px;
}

.FV-img img {
    margin-right: 8px;
}

.FV-img img:last-of-type{
    margin-right:0px;
}

.FV-img img:nth-of-type(2) {
    width: 40%;
}


img{
    border:0;
    vertical-align:middle;
}

.FV-button{
   display: flex;
}

.FV-button>a:first-child{
    align-items:center;
    display: flex;
    justify-content:center;
    background-color:orange;
    width:306px;
    height: 60px;
    color:white;
    font-size:16px;
    border-radius: 30px;
    margin-right:15px;
    vertical-align: middle;
}

.FV-button>a:last-child{
    align-items:center;
    display: flex;
    justify-content:center;
    background-color: white;
    width:170px;
    height:60px;
    font-size:16px;
    text-align: center;
    border:1px solid gray;
    border-radius: 30px;
}

.FV-text{
    font-size:12px;
    color:gray;
    line-height:1.5;
}

.main-background{
    background-color:orange;
    padding:40px 0px;
}

.main-content{
    max-width:1140px;
    padding-right:50px;
    padding-left:50px;
    margin-right:auto;
    margin-left:auto;
    align-items:center;
    display:flex;
    justify-content:center;
}

video{
    width: 50%;
}

.main-text{
    color:white;
    margin-left:15px;
}

.main-text h2 {
    font-size: 38px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 54px;
    width: 100%;
}

.main-text span{
    font-size:35px;
}

.main-text br {
    display: none;
}

.main-text p{
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16px;
}

.main-text a{
    display:flex;
    color:white;
    font-size: 16px;
    font-weight:bold;
}

.main-text img{
    margin-right:5px;
}


@media screen and (max-width:1080px){
    .header{
        background-color: white;
        z-index: 10;
    }
    .header-common {
        position: fixed !important;
    }
    .HeaderNavHamburger{
        cursor: pointer;
        display: block;
        position: relative;
        width: 30px;
        height: 21px;
        z-index: 100;
    }
    .HeaderNavHamburger__line:first-child{
       top:0; 
    }
    .HeaderNavHamburger__line:last-child{
        top:100%;
    }
    .HeaderNavHamburger__line{
        position: absolute;
        top: 50%;
        display: block;
        width: 100%;
        height: 3px;
        background-color: #333;
        transform: translate(0,-50%);
        border-radius: 10px;
        transition: top .2s,transform .2s,opacity .3s;
    }
    .header-list{
        overflow-y: scroll;
        position: fixed;
        top: 60px;
        left: 100%;
        width: 100%;
        display: block;
        padding-top:20px;
        padding-bottom:75px;
        transition: transform .5s;
        z-index:99;
        background-color:rgba(0,0,0,.8);
        -webkit-overflow-scrolling:touch;
        height: 100%;
    }
    .li-link{
        padding:20px 0px;
    }
    main {
        padding-top: 60px;
    }
    .main-content{
        flex-direction:column;
    }
}

@media screen and (max-width: 1024px){
    .main-content {
        flex-direction: column;
    }
    video{
        margin-bottom: 16px;
        width: 75%;
    }
    .main-text{
        margin-left: 0;
        width: 75%;
    }
}


@media screen and (min-width:768px){
     .header-logo{
        transition:0.2;
     }
     .header-logo:hover{
         opacity:60%;
     }
    .li-items{
        transition:0.2;
    }
    .li-items:hover{
        opacity:60%;
    }
    .FV-button a{
        transition:0.2;
    }
    .FV-button a:hover{
        opacity:60%;
    }
}

@media screen and (max-width:767px){
    .header{
        padding-top:15px;
        padding-bottom:15px;
    }
    .header-container{
        max-width: 100%;
        margin: 0 20px;
    }
    .header-logo-pc{
        display: none;
    }
    .header-logo-sp{
        display:block;
    }
    main{
        padding-top: 52px;
    }
    .FV-background-img.FV-img-sp{
        display:block;
        width:100%;
    }
    .FV{background-image:none;
        padding-top:0;
        padding-bottom:35px;
    }
    .FV-container{
        margin-top:-45vw;
    } 
    .FV-container{
        max-width: none;
        padding-left: 20px;
        padding-right: 20px;
    }
    .FV-content{
        margin-bottom: 20px;
        width:100%;
    }
    .FV-content h2{
        font-size: 25px;
        line-height: 36px;
        margin-left: calc(((100vw - 100%)/2)*-1);
        margin-right: calc(((100vw - 100%)/2)*-1);
    }
    .FV-img{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        width: 100%;
    }
    .FV-img img{
        width:27.5%;
    }
    .FV-img img:nth-of-type(2) {
        width: 40%;
    }
    .FV-button a {
        width: 100% !important;
    }
    .FV-button a:last-child{
        display: none;
    }
    .main-content{
        max-width: none;
        padding-left: 20px;
        padding-right: 20px;
    }
    .main-content video{
        width:100%;
    }
    .main-text{
        margin-bottom: 0;
        width:100%;
    }
}
@media screen and (max-width: 400px){
    .main-text h2 {
        font-size: 33px;
        line-height: 1.4;
        white-space: pre;
        word-break: keep-all;
    }
    .main-text br{
        display:block;
    } 
}